In [2]:
import pandas as pd
from langdetect import detect
%load_ext autoreload
%autoreload 2
import re

from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
df_500 = pd.read_csv('data/lyrics_save500.txt', sep='\t')
df_test = pd.read_csv('data/kor.txt', sep='\t', names=['eng','kor','drop_me'])

In [4]:
df_500 = df_500.drop([19565, 28696, 31890])
df_500['lang'] = df_500['kor'].apply(detect)

In [ ]:
df_final = df_500[df_500['lang']=='ko'].drop(columns=['Unnamed: 0','lang'])

df_test = df_test.drop(columns='drop_me')

In [8]:
def clean_text(text):
    '''Clean text by removing unnecessary characters and altering the format of words.'''

    text = text.lower()
    
    text = re.sub(r"’", "'", text)
    text = re.sub(r"i'm", "i am", text)
    text = re.sub(r"he's", "he is", text)
    text = re.sub(r"she's", "she is", text)
    text = re.sub(r"it's", "it is", text)
    text = re.sub(r"that's", "that is", text)
    text = re.sub(r"what's", "that is", text)
    text = re.sub(r"where's", "where is", text)
    text = re.sub(r"how's", "how is", text)
    text = re.sub(r"\'ll", " will", text)
    text = re.sub(r"\'ve", " have", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"\'d", " would", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"won't", "will not", text)
    text = re.sub(r"can't", "cannot", text)
    text = re.sub(r"n't", " not", text)
    text = re.sub(r"n'", "ng", text)
    text = re.sub(r"'bout", "about", text)
    text = re.sub(r"'til", "until", text)
    text = re.sub(r"[-()\"#/@;:<>{}`+=~|.!?,]", "", text)
    
    return text

In [12]:
df_test['eng'] = df_test['eng'].apply(clean_text)
df_test['kor'] = df_test['kor'].apply(clean_text)

df_final['eng'] = df_final['eng'].apply(clean_text)
df_final['kor'] = df_final['kor'].apply(clean_text)

In [13]:
df_test

,eng,kor
0,go,가
1,hi,안녕
2,run,뛰어
3,run,뛰어
4,who,누구
...,...,...
3313,tom always cried when his sister took away his...,톰은 누나가 자기 장난감을 빼앗아 갔을 때마다 울음을 터뜨렸고 누나는 바로 그런 이...
3314,science fiction has undoubtedly been the inspi...,공상 과학 소설은 의심의 여지 없이 오늘날 존재하는 많은 기술에 영감을 주었어
3315,i started a new blog i will do my best not to ...,난 블로그를 시작했어 블로그를 초반에만 반짝 많이 하다가 관두는 사람처럼은 되지 않...
3316,i think it is a shame that some foreign langua...,몇몇 외국어 선생님이 한 번도 원어민과 공부해본 적도 없으면서 대학을 나올 수 있었...
3317,doubtless there exists in this world precisely...,의심의 여지 없이 세상에는 어떤 남자이든 정확히 딱 알맞는 여자와 결혼하거나 그 반...

In [14]:
df_final

,eng,kor
0,time runs,시간은 달려가
2,i am carrying them on my neck,잠시 내 목마를 태워
3,throwing my memories outside,나의 추억들을 밖으로 던진다
4,this is like a drama without a script,이건 마치 각본 없는 drama
5,it is an ending you have never thought of,생각 못 한 결말 나와
...,...,...
49584,today i am shining brightly,모르지만 오늘도 난 밝게 빛나지
49585,wherever they are i will be the brightest,어디서 보아도 내가 제일 눈부시게
49586,even though time passes i will not wither away,시간이 지나도 사그라들지 않게
49587,even if i run out of breath i will not stop an...,숨이 차 올라도 멈추지 말고 더 크게 외쳐 oh
49588,will be seen will become clear,눈에 보이잖아 또렷해지잖아